{%  extends 'tasklist/main.html' %}
{% block content %}
<div class="header-bar">
    <h1>Создание учётной записи</h1>
</div>
<div class="card-body">
    <form method="POST">
    {% csrf_token %}
        <label>{{form.username.label}}</label>
    {{form.username}}
        <label>{{form.password1.label}}</label>
    {{form.password1}}
        <label>{{form.password2.label}}</label>
    {{form.password2}}
    <p><input style="margin-top:10px ;" class="button" type="submit" value="Создать"> или <a href="{% url 'login' %}">Войти в учётную запись</a></p>
</form>
</div>
{% endblock content %}
